.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 3;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    background: url(https://i.gifer.com/3QAe.gif) center no-repeat;
    background-color: black;
}

.loader{
    width: 100%;
    height: 75px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 75px;
    color: red;
    transform: translate(-50%, -50%);    
}
.done{
    opacity: 0;
    visibility: hidden;
} 


.main_wrapper{
    width: 100%;
}
.table_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.table_area{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}
.table_caption{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background: linear-gradient(#ddd8d8, #79e631);
}
.table_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.table_avatar:hover{
    transform:scale(2);
} 